# Awesome Typst

[![Awesome](https://awesome.re/badge.svg)](https://awesome.re)

Curated collection of useful links for [Typst](https://github.com/typst/typst) users.

PRs welcomed!

## Contents

{{ range $k, $v := . -}}
	- [{{ $k }}]({{ $v }})
{{ end }}

## Official Project Links

- [typst.app](https://typst.app): The Typst web app
- [Typst Documentation](https://typst.app/docs)
- [GitHub](https://github.com/typst/typst)
- [Blog](https://typst.app/blog/)
- Social: [Discord] [Instagram] [LinkedIn] [Twitter]

[discord]: https://discord.gg/2uDybryKPe
[instagram]: https://instagram.com/typstapp/
[linkedin]: https://www.linkedin.com/company/typst/
[twitter]: https://twitter.com/typstapp/

## Integrations & Tools

### Browser Extensions

- (FireFox) [yank](https://addons.mozilla.org/en-US/firefox/addon/yank/): Yank URL and title of current tab, format to a chosen markup language, and copy to clipboard (supports typst link format)

### Chatbots

- [typst-bot](https://github.com/mattfbacon/typst-bot): A discord bot to render Typst code

### CLI Tools

- [typst-fmt](https://github.com/astrale-sharp/typst-fmt/): An in development Typst formatter (PR welcomed)
- [typst-live](https://github.com/ItsEthra/typst-live): Hot reloading of pdf in web browser
- [typst-pandoc](https://github.com/lvignoli/typst-pandoc): Typst custom reader and writer for Pandoc

### Editor Integrations

#### General

- [frozolotl/tree-sitter-typst](https://github.com/frozolotl/tree-sitter-typst): A tree-sitter grammar with a focus on correctness.
- [SeniorMars/tree-sitter-typst](https://github.com/SeniorMars/tree-sitter-typst): A TreeSitter parser for the Typst File Format

#### Emacs

- [typst-mode.el](https://github.com/Ziqi-Yang/typst-mode.el): An Emacs major mode for the `typst` markup-based typesetting system

#### Language Servers

- [typst-lsp](https://github.com/nvarner/typst-lsp): A brand-new language server for Typst, plus a VS Code extension

#### Obsidian

- [obsidian-typst](https://github.com/fenjalien/obsidian-typst): Renders typst code blocks in Obsidian into images using Typst through the power of WASM!

#### Vim

- [typst.nvim](https://github.com/SeniorMars/typst.nvim): WIP. Goals: Treesitter highlighting, snippets, and a smooth intergration with neovim
- [typst.vim](https://github.com/kaarmu/typst.vim): Vim plugin for Typst

#### VSCode

- [Typst LSP VS Code Extension](https://marketplace.visualstudio.com/items?itemName=nvarner.typst-lsp)
- [Typst Preview VS Code Extension](https://marketplace.visualstudio.com/items?itemName=mgt19937.typst-preview): Preview your Typst files in VS Code instantly

### GitHub Actions

- [setup-typst](https://github.com/yusancky/setup-typst): A cross-OS action for installing Typst
- [typst-action](https://github.com/lvignoli/typst-action): Build Typst documents using GitHub actions

### Programming

- [typst-py](https://github.com/messense/typst-py):  Python binding to typst

## Templates & Libraries

### Official

- [typst/templates](https://github.com/typst/templates): The templates that ship with the Typst web app

### General

- [SimplePaper](https://github.com/1bitbool/SimplePaper): A Chinese template for writing simple paper
- [ieee-typst-template](https://github.com/bsp0109/ieee-typst-template): A template to write IEEE Papers in Typst
- [simple-typst-thesis](https://github.com/zagoli/simple-typst-thesis): A template useful for writing simple thesis in Typst
- [typst-palette](https://github.com/kaarmu/typst-palette): A package of color palettes for Typst
- [typst-templates](https://github.com/eigenein/typst-templates): Templates for Typst
- [typst-templates](https://github.com/haxibami/typst-template): My typst templates
- [typstry](https://github.com/qjcg/typstry): A Tapestry of Typst Templates & Examples
- [tyspt-mla9-template](https://github.com/wychwitch/tyspt-mla9-template): An MLA 9th edition template
- [writable-gm-screen-inserts](https://github.com/LLBlumire/writable-gm-screen-inserts): Writable Game Master Screen Inserts

### Assignments

- [assignment-template](https://github.com/AntoniosBarotsis/typst-assignment-template): A simple assignment template
- [typst-assignment-template](https://github.com/astrale-sharp/typst-assignement-template.git): Yet another simple assignment template
- [typst-assignment-template](https://github.com/gRox167/typst-assignment-template.git): Yet another simple assignment template with a cover and several useful math symbols.
- [typst-homework-template](https://github.com/OriginCode/typst-homework-template): A simple homework template inspired by the LaTeX homework template by Adam Blank

### CV

- [alta-typst](https://github.com/GeorgeHoneywood/alta-typst): A simple Typst CV template, inspired by AltaCV by LianTze Lim
- [attractive-typst-resume](https://github.com/Harkunwar/attractive-typst-resume): A modern looking, attractive CV/Resume template by Harkunwar Kochar
- [moderncv.typst](https://github.com/giovanniberti/moderncv.typst): A CV template inspired by LaTeX's `moderncv`
- [resume.typ](https://github.com/wusyong/resume.typ): Simple and ergonimic template to generate resume and CV
- [simplecv](https://github.com/LaurenzV/simplecv): SimpleCV is a simple and elegant CV template written in Typst
- [typst-cv-miku](https://github.com/ice-kylin/typst-cv-miku): A simple, elegant, academic style CV template for typst. Support for English and Chinese (and more)
- [typst-cv-resume](https://github.com/jxpeng98/Typst-CV-Resume): A CV template with Sans font inspired by LaTeX `Deedy-Resume`
- [typst-cv-template](https://github.com/skyzh/typst-cv-template): Chi CV Template (For Typst)
- [typst-mixed-resume](https://github.com/titaneric/typst-mixed-resume): A casual and elegant resume template inspired by multiple templates.
- [typst-resume-template](https://github.com/bamboovir/typst-resume-template): Aesthetic style inspired by the Awesome-CV project
- [vercanard](https://github.com/elegaanz/vercanard): A colorful resume template for Typst

### Footnotes & Endnotes

- [notes.typ](https://github.com/tbug/notes.typ): A library for notes with deduplication and customizability.
- [typst-notes](https://github.com/saadulkh/typst-notes): A library for adding footnotes and endnotes in Typst

### Formatting

- [simple-poem-typst](https://github.com/asibahi/simple-poem-typst): An application of the `measure` function to set Arabic poetry.
- [typst-boxes](https://github.com/lkoehl/typst-boxes): A library to draw colorful boxes.
- [typst-diagbox](https://github.com/PgBiel/typst-diagbox): A library for diagonal line dividers in Typst tables

### Letters

- [typst-letter](https://github.com/dvdvgt/typst-letter): A typst letter template inspired by the DIN 5008 norm

### Linguistics

- [leipzig-gloss](https://gitea.everydayimshuflin.com/greg/typst-lepizig-glossing): A library that provides primitives for creating glossing rules according to Leipzig.
- [typst-ipa](https://github.com/imatpot/typst-ipa): 🔄 ASCII / IPA conversion for Typst

### Mathematics

- [commutative-diagrams](https://gitlab.com/giacomogallina/typst-cd): A library for creating commutative diagrams
- [typst-algorithms](https://github.com/platformer/typst-algorithms): A library for writing algorithms
- [typst-theorems](https://github.com/sahasatvik/typst-theorems): A library for creating numbered theorem environments
- [typst-undergradmath](https://github.com/johanvx/typst-undergradmath): A Typst port of [undergradmath](https://gitlab.com/jim.hefferon/undergradmath)

### Physics

- [physics](https://github.com/Leedehai/typst-physics): A library for usual physics notations, e.g. vectors and vector fields, matrices, differentials, derivatives, Dirac brakets, tensors, isotopes, and digital signal sequences.

### Plotting

- [typst-plot](https://github.com/johannes-wolf/typst-plot): A library for plotting line charts

### Posters

- [typst-poster](https://github.com/pncnmnp/typst-poster): An academic poster template

### Raytracing

- [typst-raytracer](https://github.com/SeniorMars/typst-raytracer): raytracer in typst

### Slides

- [typst-slides](https://github.com/andreasKroepelin/typst-slides): A template for creating slides in Typst
