name: Linters (fast)

on:
  workflow_dispatch: {}
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repo
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'

      - name: Check that files follow .editorconfig rules
        run: go tool lefthook run pre-commit
